<div class="wrapper">
    <div class="content">
       <!-- Matter to display-->
        <div class="left">
            <h1 class="heading">Welcome OnBoard</h1>
            <p style="background-color: crimson;"> We are happy to have you as a part of our community</p>
        </div>
        
        <!--Image on right part-->
        <div class="right">
                <img  src="assets/Images/food.jpg">
        </div>
        
    </div>

    <!--Svg path link-->
   <div class="upper-svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="white" fill-opacity="1" d="M0,160L80,181.3C160,203,320,245,480,224C640,203,800,117,960,74.7C1120,32,1280,32,1360,32L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg></div>

</div>