<div style="transform: scale(0.75);">
<div class="right" style=" background: linear-gradient(to bottom, #0099cc 0%, #000066 100%);height: 1125px">
    <form [formGroup]="resetForm" (ngSubmit)="verify()" class='card'
        style="margin-top: 30%;width: 80rem;margin-left: 10%">
        <div>
            <h1 style="margin-left: 8%">
                <img src="\assets\Images\reset.png" width="20%" style="margin-top: 2%" />
                &nbsp;
                <b>Reset Password</b>
            </h1>
            <br />
            <br />
        </div>
        <div class="form-group row" style="margin-left:10%">
            <i class="glyphicon glyphicon-lock"></i>
            <font size="6" color="red"> *</font>
            <div class="col-sm-7">
                <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                <div *ngIf="submitted && resetForm.controls.password.errors">
                    <div class="text-danger" *ngIf="resetForm.controls.password.errors.required">
                        <font size="5"> Password is required </font>
                    </div>
                    <div class="text-danger" *ngIf="resetForm.controls.password.errors.minlength">
                        <font size="5">Password must contain minimum of 8 characters</font>
                    </div>
                    <div class="text-danger" *ngIf="resetForm.controls.password.errors.hasNumber">
                        <font size="5"> Password must contain atleast one numeric value</font>
                    </div>
                    <div class="text-danger" *ngIf="resetForm.controls.password.errors.hasCapitalCase">
                        <font size="5">Password must contain atleast one Capital letter</font>
                    </div>
                    <div class="text-danger" *ngIf="resetForm.controls.password.errors.hasSmallCase">
                        <font size="5"> Password must contain atleast one Small letter</font>
                    </div>
                    <div class="text-danger" *ngIf="resetForm.controls.password.errors.hasSpecialCharacters">
                        <font size="5"> Password must contain atleast one special character</font>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group row" style="margin-left:10%">
            <i class="glyphicon glyphicon-lock"></i>
            <font size="6" color="red"> *</font>
            <div class="col-sm-7">
                <input type="password" class="form-control" formControlName="reEnterPassword"
                    placeholder="Re-enter password" />

                <div *ngIf="submitted && resetForm.controls.reEnterPassword.errors">
                    <div class="text-danger" *ngIf="resetForm.controls.reEnterPassword.errors.required">
                        <font size="5">Required </font>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="offset-lg-4 col-lg-6 offset-md-4 col-md-6 offset-sm-4 col-sm-6">
            <button class="btn btn-success" style="border-radius: 30%">
                <font size="5">Submit</font>
            </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" (click)="back()" style="border-radius: 30%">
                <font size="5">Cancel</font>
            </button> <br />
            <br />
        </div>
    </form>
</div>
<div class="left">
    <img src="\assets\Images\RESET.gif" width="60%" height="700px" style="margin-top: 20%;margin-left: 20%" />
</div>
</div>