<div class="wrapper">
    <div class="title"><h3 class="heading">ROLES & PERMISSIONS</h3></div>

<!--images display-->
    <div class="content">
        <div class="icon">
            <img src="assets/Images/enjoyTheFood.png">
            <h4>Adding the Food</h4>
        </div>
        <div class="icon">
            <img src="assets/Images/carryBox.png">
            <h4>Managing Orders</h4>
        </div>
        <div class="icon">
            <img src="assets/Images/orderAndPay.png">
            <h4>Collect Amount</h4>
        </div>
    
        <div class="icon">
            <img src="assets/Images/search.png">
            <h4>Monitor</h4>
        </div>
    </div>
</div>