<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Poster1 Design -->
<div class="content" *ngIf="poster1" id="poster1">

    <!-- Poster1 Image Design -->
    <div class="right">
        <div class="right-data">
            <div class="image">
                <span class="screen"></span>
                <img src="assets/Images/poster1.jpg">
            </div>
        </div>
    </div>
    <div class="divider"><span></span></div>

    <!-- Poster1 Info Design -->
    <div class="left">
        <span class="screen" style="left: 0;right: auto;"></span>
        <div class="info">
            <p>We Serve You</p>
            <h1>TASTE</h1>
            <button class="orderBtn" (click)="goToItems()">Order Now</button>
        </div>
    </div>
</div>


<!-- Poster2 Design -->
<div class="content" *ngIf="poster2" id="poster2">

    <!-- Poster2 Info Design -->
    <div class="left">
        <span class="screen"></span>
        <div class="info">
            <p>We Serve You</p>
            <h1>BEST</h1>
            <button class="orderBtn" (click)="goToItems()"><span></span>Order Now</button>
        </div>
    </div>
    <div class="divider"><span></span></div>

    <!-- Poster2 Image Design -->
    <div class="right">
        <div class="right-data">
            <div class="image2">
                <img src="assets/Images/poster22.jpg">
            </div>
        </div>
    </div>
</div>


<!-- Poster3 Design -->
<div class="content" *ngIf="poster3" id="poster3">

    <!-- Poster3 Info Design -->
    <div class="left">
        <span class="screen"></span>
        <div class="info">
            <p>We Serve You</p>
            <h1 style="animation-delay: 10s;">FRESH</h1>
            <button class="orderBtn" (click)="goToItems()"><span></span>Order Now</button>
        </div>
    </div>
    <div class="divider"><span></span></div>

    <!-- Poster3 Images Designs -->
    <div class="right">
        <div class="vegImg">
            <span class="screen" style="opacity: 0.1;z-index: 8;"></span>
            <img src="assets/Images/poster3-3.jpg" id="vegImg">
        </div>
        <div class="chknImg">
            <span class="screen" style="opacity: 0.1;z-index: 8;"></span>
            <img src="assets/Images/s2.png" id="chknImg">
        </div>
        <div class="fishImg">
            <span class="screen" style="opacity: 0.1;z-index: 8;"></span>
            <img src="assets/Images/s2.png" id="fishImg">
        </div>
    </div>
</div>


<!-- content2-Process Design -->
<div class="content2">

    <!-- Search Icon -->
    <div class="icon">
        <img src="assets/Images/search.png">
        <h4>Search</h4>
    </div>

    <!-- Carrybox Icon -->
    <div class="icon">
        <img src="assets/Images/carryBox.png">
        <h4>Add To Carry Box</h4>
    </div>

    <!-- Order Icon -->
    <div class="icon">
        <img src="assets/Images/orderAndPay.png">
        <h4>Order&Pay</h4>
    </div>

    <!-- Enjoy Food Icon -->
    <div class="icon">
        <img src="assets/Images/enjoyTheFood.png">
        <h4>Enjoy the Food</h4>
    </div>
</div>


<!-- Content3 Design -->
<div class="content3">

    <!-- Signup option -->
    <div class="getStarted">
        <button class="getStartedBtn" (click)="goToSignUp()"><span></span>Get Started</button>
    </div>


    <!-- Footer Design -->
    <div class="footer">
        <div class="data">
            <div class="data-top">

                <!-- Description about the Restaurant -->
                <div class="data-top-left">
                    <span>ELEFOODS</span><br>
                    <p>We at ELEFoods satisfying the hunger of our customers since 2016
                        under the CAPFOOD Group of Hotels. Starting from one, today we have 3 branches
                        at reknown cities across the country. Our Main aim is to make a customer enjoy our food
                        and to make recurring customers. With the help of this website, we move ahead to reach our
                        customers by providing online food delivery system.
                    </p>
                </div>

                <!-- Useful Links -->
                <div class="data-top-right">
                    <div class="links">
                        <span>QUICK LINKS</span><br>
                        <a href="#">About Us</a><br>
                        <a href="#">Our Partners</a><br>
                        <a href="#">Our Branches</a><br>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Copy Rights Message -->
            <div class="data-bottom">
                <div class="data-bottom-left">
                    Copyrights &copy;2022. All Rights Reserved by CAPFOOD
                </div>


                <!-- Social Media Icons -->
                <div class="data-bottom-right">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>

</div>