.glyphicon {
    font-size: 40px;
}
.fa{
    font-size: 40px;
}
.fas{
    font-size: 40px;
}
.left{
    float:left;
    height:100%;
    width:50%;
  }

  .right{
    float:right;
    height:100%;
    width:50%;
    
  }